# Scraping

In [4]:
import re
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
response = requests.get("https://www.imdb.com/list/ls055386972/", headers={"Accept-Language":"en-US"})
soup = BeautifulSoup(response.content, "html.parser")

In [3]:
movies = []
for movie in soup.find_all("div", class_="lister-item-content"):
    title = movie.find("h3").find("a").string
    duration = int(movie.find(class_="runtime").string.strip(' min'))
    year = int(re.search(r"\d{4}", movie.find(class_="lister-item-year").string).group(0))
    movies.append({'title': title, 'duration': duration, 'year': year})
print(movies[0])

{'title': 'The Godfather', 'duration': 175, 'year': 1972}

In [9]:
movies_df = pd.DataFrame(movies)
movies_df.head()

                            title  duration  year
0                   The Godfather       175  1972
1                Schindler's List       195  1993
2                    12 Angry Men        96  1957
3               Life Is Beautiful       116  1997
4  The Good, the Bad and the Ugly       178  1966

In [8]:
movies_df.dtypes

title       object
duration     int64
year         int64
dtype: object