In [ ]:
# your name here :)
Aishu (Aishwarya Wahane)

# Quiz Python - SQL - Data analysis

## Setup & Git

### ðŸ¤” What is a virtualenv and why is it useful?

Your answer here: virtualenv is a package that enables us to work in isolated environments for projects by downloading and managing multiple versions of python and various packages in the system. Normally, we cannot run multiple versions of Python or packages/libraries on the same system, but with Python we different dependencies of the system could be taken care of.

### ðŸ¤”  How do you install a new python package? How can you later use it in your code?

Your answer here:

installing a python package(through the terminal) - pip install (package name)

using it in the code - import (package name)

### ðŸ¤” What are the `git` commands to use to submit new code to a central repository on GitHub? Explain each step in your own words.

Your answer here:

git status # this lets us check what files have been modified

git add (filename) # this lets us move the file to the staging area waiting to be committed

git commit -m "Message indicating the changes made in the code" # committing the file to the central repository

git push origin master # Pushing the code on to GitHub

### ðŸ¤”  How would you position yourself in a parent directory in the terminal? How can you go to the `~` (home) directory?

Your answer here:

command to go to the parent directory - cd..

command to go to the home directory - cd

## Python

### Lists

Given a list of numbers perform following operations:
- check how many elements does it have and store it in a `numbers_count` variable
- add a `5`
- remove the `7`

In [4]:
numbers = [-2, "2", 7, '-3']
# your code below
numbers_count = len(numbers)
numbers.append(5)
del numbers[2]
numbers

[-2, '2', '-3', 5]

Now create a new list `positive_numbers` by iterating over `numbers` from previous task. It should consist of `int` only.

In [5]:
# your code below
positive_numbers = []
for num in numbers:
    positive_numbers.append(int(num))
positive_numbers

[-2, 2, -3, 5]

### Functions

Create a function which will take a `list` of numbers as an argument and return the sum of positive numbers from that list (look at previous challenge). Be careful, the input list might contain both `str` and `int`!

In [13]:
# your code here
def numbers_sum(num_list):
    total = 0
    for number in num_list:
        number = int(number)
        if number == abs(number):
            total += number
    return total

Call your function with `numbers` list (the one you updated) from previous challenge! Store the result in `positive_sum` variable.

In [14]:
# function call
positive_sum = numbers_sum(numbers)

In [15]:
# the cell should output True
positive_sum == 7

True

### Calling an API

Which package do you need to call an API with Python? How do you use it? Give an example with `https://opengraph.lewagon.com/?url=https://www.lewagon.com` below and store the result in `data` variable:

In [16]:
# your code here
import requests
url = "https://www.lewagon.com"
data = requests.get("https://opengraph.lewagon.com/", params = {'url':url}).json()

### Code refactoring

Rewrite the following loop using `list comprehension` and store the result in `lc_uppercase_fruits` variable.

In [19]:
fruits = ['apple', 'banana', 'orange', 'strawberries', 'melon', 'pear']
uppercase_fruits = []
for fruit in fruits:
    if fruit[0] < 'n':
        uppercase_fruits.append(fruit.upper())

In [21]:
# your code here
lc_uppercase_fruits = [fruit.upper() for fruit in fruits if fruit[0] < 'n']

In [22]:
# the cell should output True
lc_uppercase_fruits == ["APPLE", "BANANA", "MELON"]

True

## SQL

### ðŸ¤” What software can you use to perform some SQL queries?

Your answer here:

In [ ]:
DBeaver

### ðŸ¤” How a typical SELECT query is built, with which keywords and in what order? Write some SQL boilerplate.

Your answer here:

SELECT (column 1, column 2, ...) FROM tablename
SELECT * FROM boilerplate

### ðŸ¤” What is the difference between the INNER JOIN and LEFT JOIN?

Your answer here:

Inner join or join joins two tables excluding the null records of all the tables. Left join on the other hand, includes all the records the table on the left of the LEFT JOIN keyword and doesn't include the null records which are related to the table on the right of the keyword.

## Data Analysis

### Create a `ndarray` of integers with 2 dimensions and store it in a `A` variable. Check how many elements it has.

In [30]:
# your code here
import numpy as np
A = np.array([[1, 2, 3],[4, 5, 9]])
A
num_of_elements = np.size(A)
num_of_elements

6

### Using the same array `A`  check for the `max` elements in its rows.

In [1]:
max_of_a = np.max(A)
max_of_a

NameError: name 'np' is not defined

### Given the array B, select the third column of it (including all the rows). Store it in a `selection` variable.

In [34]:
B = np.array([[1,2,3,4,5], [6,7,8,9,10], [11,12,13,14,15], [16,17,18,19,20]])
selection = B[:,2]
selection

array([ 3,  8, 13, 18])

### Using vectorial computation rewrite the loop below so that you get an array of summed rows  as result. Store it in `vectorial_sum` variable.

In [35]:
my_list = [
    [6, 5],
    [1, 3],
    [5, 6],
    [1, 4],
    [3, 7],
    [5, 8],
    [3, 5],
    [8, 4],
]

# Python way
sums = []
for row in my_list:
    sums.append(row[0] + row[1]) # standard integer "+" operator
sums

[11, 4, 11, 5, 10, 13, 8, 12]

In [38]:
# your code here, using `my_list` from previous cell
sum_array = np.sum(my_list, axis = 1)
sum_array

array([11,  4, 11,  5, 10, 13,  8, 12])

### We loaded for you the `tips` dataset. What's the type of it? How can you quickly explore it?

In [42]:
import seaborn as sns
tips = sns.load_dataset('tips')
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [41]:
# your answer & code here
type(tips)

pandas.core.frame.DataFrame

###  How do you select the `total_bill` column? ðŸ’²ðŸ’²ðŸ’²

In [44]:
# your code here
tips[['total_bill']]

     total_bill
0         16.99
1         10.34
2         21.01
3         23.68
4         24.59
..          ...
239       29.03
240       27.18
241       22.67
242       17.82
243       18.78

[244 rows x 1 columns]

### Using `boolean indexing` create a new DataFrame where the `time` is  `Dinner`. How many rows does it have?

In [48]:
# your code here
tips_dinner = tips[tips['time'] == 'Dinner']
tips_rows = tips_dinner.shape[0]
tips_rows

176

### Given dataframe `a_df` and `b_df` how would you perform a `left join` with `pandas`? (not a SQL question!)

# your code here
np.merge(a_df, b_df, how = 'left')