
## Njeri Gachago

# Quiz Python - SQL - Data analysis

## Setup & Git

### ðŸ¤” What is a virtualenv and why is it useful?

The virtualenv allows us to run different packages in each environment. This is useful when running projects that depend on different environment set ups.

### ðŸ¤”  How do you install a new python package? How can you later use it in your code?

run pip install <package_name> in the terminal

To use it, import the package into your code

### ðŸ¤” What are the `git` commands to use to submit new code to a central repository on GitHub? Explain each step in your own words.

- git status - checks the status of the repository, and shows status of modified files
- git add - stages a file for committing
- git commit - creates the commit version with a message explaining the update
- git push - add the code to the central repositiory (typically needs the origin and branch)

### ðŸ¤”  How would you position yourself in a parent directory in the terminal? How can you go to the `~` (home) directory?

- to get to the parent directory use "cd .."
- to go to home directory use "cd ~/"

## Python

### Lists

Given a list of numbers perform following operations:
- check how many elements does it have and store it in a `numbers_count` variable
- add a `5`
- remove the `7`

In [1]:
numbers = [-2, "2", 7, '-3']

numbers_count = len(numbers)
numbers.append(5)
del numbers[2]

numbers

[-2, '2', '-3', 5]

Now create a new list `positive_numbers` by iterating over `numbers` from previous task. It should consist of `int` only.

In [3]:
positive_numbers = [abs(int(num)) for num in numbers]
positive_numbers

[2, 2, 3, 5]

### Functions

Create a function which will take a `list` of numbers as an argument and return the sum of positive numbers from that list (look at previous challenge). Be careful, the input list might contain both `str` and `int`!

In [14]:
def positive_sum(lst):
    return sum([abs(int(num)) for num in lst])

Call your function with `numbers` list (the one you updated) from previous challenge! Store the result in `positive_sum` variable.

In [15]:
positive_sum(numbers)

12

In [ ]:
# the cell should output True
positive_sum == 7

### Calling an API

Which package do you need to call an API with Python? How do you use it? Give an example with `https://opengraph.lewagon.com/?url=https://www.lewagon.com` below and store the result in `data` variable:

In [16]:
import requests

url = "https://opengraph.lewagon.com/?url=https://www.lewagon.com"
response = requests.get(url)
data = response.json()
data

{'data': {'site_name': "Coding Bootcamp Le Wagon | Europe's Best Coding Bootcamp",
  'title': 'Coding Bootcamp | Le Wagon',
  'type': 'article',
  'url': 'https://www.lewagon.com/',
  'image': 'https://dwj199mwkel52.cloudfront.net/assets/core/social/home-card-3e7145382a75fc070f78c67bccd21e2fb74e4f92958c6dfdeb7a776acd499a0e.jpg',
  'description': "Change your life, learn to code. Le Wagon is ranked as the world's best coding bootcamp and has enabled thousands of people to change their careers."},
 'url': 'https://www.lewagon.com/'}

### Code refactoring

Rewrite the following loop using `list comprehension` and store the result in `lc_uppercase_fruits` variable.

In [17]:
fruits = ['apple', 'banana', 'orange', 'strawberries', 'melon', 'pear']
uppercase_fruits = []
for fruit in fruits:
    if fruit[0] < 'n':
        uppercase_fruits.append(fruit.upper())

uppercase_fruits

['APPLE', 'BANANA', 'MELON']

In [18]:
lc_uppercase_fruits = [fruit.upper() for fruit in fruits if fruit[0] < 'n']
lc_uppercase_fruits

['APPLE', 'BANANA', 'MELON']

In [ ]:
# the cell should output True
lc_uppercase_fruits == ["APPLE", "BANANA", "MELON"]

## SQL

### ðŸ¤” What software can you use to perform some SQL queries?

- DBeaver if you load the database
-

### ðŸ¤” How a typical SELECT query is built, with which keywords and in what order? Write some SQL boilerplate.

- SELECT *
- FROM file_name f
- JOIN file_name2 f2
    ON f.ID = f2.fID
- WHERE something = something_else
- GROUP BY column to group by
- ORDER BY column to order by DESC

### ðŸ¤” What is the difference between the INNER JOIN and LEFT JOIN?

Inner join omits rows with unmatched information from both tables. Left Join preserves the rows in the leading table and omits rows with unmatched info in trailing table.

## Data Analysis

### Create a `ndarray` of integers with 2 dimensions and store it in a `A` variable. Check how many elements it has.

In [23]:
import numpy as np

A = np.array([[1, 2, 3], [4, 5, 6]])
A.size

6

### Using the same array `A`  check for the `max` elements in its rows.

In [24]:
A.max(axis=0)

array([4, 5, 6])

### Given the array B, select the third column of it (including all the rows). Store it in a `selection` variable.

In [26]:
B = np.array([[1,2,3,4,5], [6,7,8,9,10], [11,12,13,14,15], [16,17,18,19,20]])
selection = B[:, 2]
selection

array([ 3,  8, 13, 18])

### Using vectorial computation rewrite the loop below so that you get an array of summed rows  as result. Store it in `vectorial_sum` variable.

In [27]:
my_list = [
    [6, 5],
    [1, 3],
    [5, 6],
    [1, 4],
    [3, 7],
    [5, 8],
    [3, 5],
    [8, 4],
]

# Python way
sums = []
for row in my_list:
    sums.append(row[0] + row[1]) # standard integer "+" operator
sums

[11, 4, 11, 5, 10, 13, 8, 12]

In [29]:
vectorial_sum = np.sum(my_list,axis=1).tolist()
vectorial_sum

[11, 4, 11, 5, 10, 13, 8, 12]

### We loaded for you the `tips` dataset. What's the type of it? How can you quickly explore it?

In [31]:
import seaborn as sns
tips = sns.load_dataset('tips')

In [32]:
type(tips)

pandas.core.frame.DataFrame

In [33]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.3 KB

In [34]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

###  How do you select the `total_bill` column? ðŸ’²ðŸ’²ðŸ’²

In [35]:
tips['total_bill']

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

### Using `boolean indexing` create a new DataFrame where the `time` is  `Dinner`. How many rows does it have?

In [40]:
dinner_df = tips[tips["time"] == 'Dinner']
dinner_df

# dinner_df has 176 rows

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[176 rows x 7 columns]

### Given dataframe `a_df` and `b_df` how would you perform a `left join` with `pandas`? (not a SQL question!)

In [42]:
import pandas as pd
pd.merge(a_df , bdf, how='left', on='column_name') # will return NameError since dfs not actually defined

NameError: name 'a_df' is not defined