In [3]:
import numpy as np
import pandas as pd

## Numpy

In [1]:
data_list = [
    [ 0,  1,  2,  3,  4],
    [10, 11, 12, 13, 14],
    [20, 21, 22, 23, 24],
    [30, 31, 32, 33, 34],
    [40, 41, 42, 43, 44],
]
data_np = np.array(data_list)
data_np

array([[ 0,  1,  2,  3,  4],
       [10, 11, 12, 13, 14],
       [20, 21, 22, 23, 24],
       [30, 31, 32, 33, 34],
       [40, 41, 42, 43, 44]])

In [12]:
data_list[2][1:4]

[21, 22, 23]

In [21]:
[row[2] for idx, row in enumerate(data_list) if idx > 0 and idx < 4]

[12, 22, 32]

In [22]:
data_np[1:4, 2]

array([12, 22, 32])

In [26]:
A = np.arange(100)
A[1:9]

array([1, 2, 3, 4, 5, 6, 7, 8])

In [30]:
my_list = [
    [6, 5, 5, 5, 5, 5, 5, 5],
    [1, 3, 3, 3, 3, 3, 3, 3],
    [5, 6, 6, 6, 6, 6, 6, 6],
    [1, 4, 4, 4, 4, 4, 4, 4],
    [3, 7, 7, 7, 7, 7, 7, 7],
    [5, 8, 8, 8, 8, 8, 8, 8],
    [3, 5, 5, 5, 5, 5, 5, 5],
    [8, 4, 4, 4, 4, 4, 4, 4],
]

In [31]:
A = np.array(my_list)

In [39]:
np.sum(A, axis=0)

array([32, 42])

In [38]:
np.max(A, axis=1)

array([6, 3, 6, 4, 7, 8, 5, 8])

## Pandas

In [54]:
a = pd.Series([1,2,3,4,5], index=['idx1', 'idx2', 'idx3', 'idx4', 'idx5'])
b = pd.Series([1,2,3,4,5], index=['idx1', 'idx2', 'idx3', 'idx4', 'idx6'])
pd.DataFrame({
    'a': a,
    'b': b
})

        a    b
idx1  1.0  1.0
idx2  2.0  2.0
idx3  3.0  3.0
idx4  4.0  4.0
idx5  5.0  NaN
idx6  NaN  5.0

In [41]:
df = pd.read_csv('countries.csv')
df['Region'] = df['Region'].str.strip()

In [31]:
df[(df['Region'].str.contains('AMER')) | (df['Population'] > 100_000_000)]

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
6,Anguilla,LATIN AMER. & CARIB,13477,102,"132,1","59,80","10,76","21,03",8600.0,"95,0","460,0",0,0,100,2,"14,17","5,34","0,04","0,18","0,78"
7,Antigua & Barbuda,LATIN AMER. & CARIB,69108,443,"156,0","34,54","-6,15","19,46",11000.0,"89,0","549,9","18,18","4,55","77,27",2,"16,93","5,37","0,038","0,22","0,743"
8,Argentina,LATIN AMER. & CARIB,39921833,2766890,"14,4","0,18","0,61","15,18",11200.0,"97,1","220,4","12,31","0,48","87,21",3,"16,73","7,55","0,095","0,358","0,547"
10,Aruba,LATIN AMER. & CARIB,71891,193,"372,5","35,49",0,"5,89",28000.0,"97,0","516,1","10,53",0,"89,47",2,"11,03","6,68","0,004","0,333","0,663"
14,"Bahamas, The",LATIN AMER. & CARIB,303770,13940,"21,8","25,41","-2,2","25,21",16700.0,"95,6","460,6","0,8","0,4","98,8",2,"17,57","9,05","0,03","0,07","0,9"
16,Bangladesh,ASIA (EX. NEAR EAST),147365352,144000,"1023,4","0,40","-0,71","62,6",1900.0,"43,1","7,3","62,11","3,07","34,82",2,"29,8","8,27","0,199","0,198","0,603"
17,Barbados,LATIN AMER. & CARIB,279912,431,"649,5","22,51","-0,31","12,5",15700.0,"97,4","481,9","37,21","2,33","60,46",2,"12,71","8,67","0,06","0,16","0,78"
20,Belize,LATIN AMER. & CARIB,287730,22966,"12,5","1,68",0,"25,69",4900.0,"94,1","115,7","2,85","1,71","95,44",2,"28,84","5,72","0,142","0,152","0,612"
22,Bermuda,NORTHERN AMERICA,65773,53,"1241,0","194,34","2,49","8,53",36000.0,"98,0","851,4",20,0,80,2,"11,4","7,74","0,01","0,1","0,89"
24,Bolivia,LATIN AMER. & CARIB,8989046,1098580,"8,2","0,00","-1,32","53,11",2400.0,"87,2","71,9","2,67","0,19","97,14","1,5","23,3","7,53","0,128","0,352","0,52"
27,Brazil,LATIN AMER. & CARIB,188078227,8511965,"22,1","0,09","-0,03","29,61",7600.0,"86,4","225,3","6,96","0,9","92,15",2,"16,56","6,17","0,084","0,4","0,516"
28,British Virgin Is.,LATIN AMER. & CARIB,23098,153,"151,0","52,29","10,01","18,05",16000.0,"97,8","506,5",20,"6,67","73,33",2,"14,89","4,42","0,018","0,062","0,92"
36,Canada,NORTHERN AMERICA,33098932,9984670,"3,3","2,02","5,96","4,75",29800.0,"97,0","552,2","4,96","0,02","95,02",NaN,"10,78","7,8","0,022","0,294","0,684"
38,Cayman Islands,LATIN AMER. & CARIB,45436,262,"173,4","61,07","18,75","8,19",35000.0,"98,0","836,3","3,85",0,"96,15",2,"12,74","4,89","0,014","0,032","0,954"
41,Chile,LATIN AMER. & CARIB,16134219,756950,"21,3","0,85",0,"8,8",9900.0,"96,2","213,0","2,65","0,42","96,93",3,"15,23","5,81","0,06","0,493","0,447"
42,China,ASIA (EX. NEAR EAST),1313973713,9596960,"136,9","0,15","-0,4","24,18",5000.0,"90,9","266,7","15,4","1,25","83,35","1,5","13,25","6,97","0,125","0,473","0,403"
43,Colombia,LATIN AMER. & CARIB,43593035,1138910,"38,3","0,28","-0,31","20,97",6300.0,"92,5","176,2","2,42","1,67","95,91",2,"20,48","5,58","0,125","0,342","0,533"
48,Costa Rica,LATIN AMER. & CARIB,4075261,51100,"79,8","2,52","0,51","9,95",9100.0,"96,0","340,7","4,41","5,88","89,71",2,"18,32","4,36","0,088","0,299","0,614"
51,Cuba,LATIN AMER. & CARIB,11382820,110860,"102,7","3,37","-1,58","6,33",2900.0,"97,0","74,7","33,05","7,6","59,35",2,"11,89","7,22","0,055","0,261","0,684"
56,Dominica,LATIN AMER. & CARIB,68910,754,"91,4","19,63","-13,87","14,15",5400.0,"94,0","304,8","6,67",20,"73,33",2,"15,27","6,73","0,177","0,328","0,495"
57,Dominican Republic,LATIN AMER. & CARIB,9183984,48730,"188,5","2,64","-3,22","32,38",6000.0,"84,7","97,4","22,65","10,33","67,02",2,"23,22","5,73","0,112","0,306","0,582"
59,Ecuador,LATIN AMER. & CARIB,13547510,283560,"47,8","0,79","-8,58","23,66",3300.0,"92,5","125,6","5,85","4,93","89,22",2,"22,29","4,23","0,07","0,312","0,618"
61,El Salvador,LATIN AMER. & CARIB,6822378,21040,"324,3","1,46","-3,74","25,1",4800.0,"80,2","142,4","31,85","12,07","56,08",2,"26,61","5,78","0,099","0,302","0,599"
70,French Guiana,LATIN AMER. & CARIB,199509,91000,"2,2","0,42","6,27","12,07",8300.0,"83,0","255,6","0,14","0,05","99,81",2,"20,46","4,88","0,066","0,156","0,778"
80,Greenland,NORTHERN AMERICA,56361,2166086,"0,0","2,04","-8,37","15,82",20000.0,NaN,"448,9",0,0,100,1,"15,93","7,84",NaN,NaN,NaN
81,Grenada,LATIN AMER. & CARIB,89703,344,"260,8","35,17","-13,92","14,62",5000.0,"98,0","364,5","5,88","29,41","64,71",2,"22,08","6,88","0,054","0,18","0,766"
82,Guadeloupe,LATIN AMER. & CARIB,452776,1780,"254,4","17,19","-0,15","8,6",8000.0,"90,0","463,8","11,24","3,55","85,21",2,"15,05","6,09","0,15","0,17","0,68"
84,Guatemala,LATIN AMER. & CARIB,12293545,108890,"112,9","0,37","-1,67","35,93",4100.0,"70,6","92,1","12,54","5,03","82,43",2,"29,88","5,2","0,227","0,188","0,585"
88,Guyana,LATIN AMER. & CARIB,767245,214970,"3,6","0,21","-2,07","33,26",4000.0,"98,8","143,5","2,44","0,15","97,41",2,"18,28","8,28","0,37","0,203","0,427"
89,Haiti,LATIN AMER. & CARIB,8308504,27750,"299,4","6,38","-3,4","73,45",1600.0,"52,9","16,9","28,3","11,61","60,09",2,"36,44","12,17","0,28","0,2","0,52"
90,Honduras,LATIN AMER. & CARIB,7326496,112090,"65,4","0,73","-1,99","29,32",2600.0,"76,2","67,5","9,55","3,22","87,23",2,"28,24","5,28","0,139","0,312","0,549"
94,India,ASIA (EX. NEAR EAST),1095351995,3287590,"333,2","0,21","-0,07","56,29",2900.0,"59,5","45,4","54,4","2,74","42,86","2,5","22,01","8,18","0,186","0,276","0,538"
95,Indonesia,ASIA (EX. NEAR EAST),245452739,1919440,"127,9","2,85",0,"35,6",3200.0,"87,9","52,0","11,32","7,23","81,45",2,"20,34","6,25","0,134","0,458","0,408"
102,Jamaica,LATIN AMER. & CARIB,2758124,10991,"250,9","9,30","-4,92","12,36",3900.0,"87,9","124,0","16,07","10,16","73,77",2,"20,82","6,52","0,049","0,337","0,615"
103,Japan,ASIA (EX. NEAR EAST),127463611,377835,"337,4","7,87",0,"3,26",28200.0,"99,0","461,2","12,19","0,96","86,85",3,"9,37","9,16","0,017","0,258","0,725"
131,Martinique,LATIN AMER. & CARIB,436131,1100,"396,5","31,82","-0,05","7,09",14400.0,"97,7","394,4","10,38","9,43","80,19",2,"13,74","6,48","0,06","0,11","0,83"
135,Mexico,LATIN AMER. & CARIB,107449525,1972550,"54,5","0,47","-4,87","20,91",9000.0,"92,2","181,6","12,99","1,31","85,7","1,5","20,69","4,74","0,038","0,259","0,702"
140,Montserrat,LATIN AMER. & CARIB,9439,102,"92,5","39,22",0,"7,35",3400.0,"97,0",NaN,20,0,80,2,"17,59","7,1",NaN,NaN,NaN
147,Netherlands Antilles,LATIN AMER. & CARIB,221736,960,"231,0","37,92","-0,41","10,03",11400.0,"96,7","365,3",10,0,90,2,"14,78","6,45","0,01","0,15","0,84"
150,Nicaragua,LATIN AMER. & CARIB,5570129,129494,"43,0","0,70","-1,22","29,11",2300.0,"67,5","39,7","15,94","1,94","82,12",2,"24,51","4,45","0,165","0,275","0,56"
152,Nigeria,SUB-SAHARAN AFRICA,131859731,923768,"142,7","0,09","0,26","98,8",900.0,"68,0","9,3","31,29","2,96","65,75","1,5","40,43","16,94","0,269","0,487","0,244"
156,Pakistan,ASIA (EX. NEAR EAST),165803560,803940,"206,2","0,13","-2,77","72,44",2100.0,"45,7","31,8","27,87","0,87","71,26",1,"29,74","8,23","0,216","0,251","0,533"
158,Panama,LATIN AMER. & CARIB,3191319,78200,"40,8","3,18","-0,91","20,47",6300.0,"92,6","137,9","7,36","1,98","90,66",2,"21,74","5,36","0,068","0,156","0,776"
160,Paraguay,LATIN AMER. & CARIB,6506464,406750,"16,0","0,00","-0,08","25,63",4700.0,"94,0","49,2","7,6","0,23","92,17",2,"29,1","4,49","0,224","0,207","0,569"
161,Peru,LATIN AMER. & CARIB,28302603,1285220,"22,0","0,19","-1,05","31,94",5100.0,"90,9","79,5","2,89","0,4","96,71","1,5","20,48","6,23","0,08","0,27","0,65"
165,Puerto Rico,LATIN AMER. & CARIB,3927188,13790,"284,8","3,63","-1,46","8,24",16800.0,"94,1","283,1","3,95","5,52","90,53",2,"12,77","7,65","0,01","0,45","0,54"
169,Russia,C.W. OF IND. STATES,142893540,17075200,"8,4","0,22","1,02","15,39",8900.0,"99,6","280,6","7,33","0,11","92,56",NaN,"9,95","14,65","0,054","0,371","0,575"
172,Saint Kitts & Nevis,LATIN AMER. & CARIB,39129,261,"149,9","51,72","-7,11","14,49",8800.0,"97,0","638,9","19,44","2,78","77,78",2,"18,02","8,33","0,035","0,258","0,707"
173,Saint Lucia,LATIN AMER. & CARIB,168458,616,"273,5","25,65","-2,67","13,53",5400.0,"67,0","303,3","6,56","22,95","70,49",2,"19,68","5,08","0,07","0,2","0,73"
174,St Pierre & Miquelon,NORTHERN AMERICA,7026,242,"29,0","49,59","-4,86","7,54",6900.0,"99,0","683,2","13,04",0,"86,96",NaN,"13,52","6,83",NaN,NaN,NaN
175,Saint Vincent and the Grenadines,LATIN AMER. & CARIB,117848,389,"303,0","21,59","-7,64","14,78",2900.0,"96,0","190,9","17,95","17,95","64,1",2,"16,18","5,98","0,1","0,26","0,64"
193,Suriname,LATIN AMER. & CARIB,439117,163270,"2,7","0,24","-8,81","23,57",4000.0,"93,0","184,7","0,37","0,06","99,57",2,"18,02","7,27","0,13","0,22","0,65"
204,Trinidad & Tobago,LATIN AMER. & CARIB,1065842,5128,"207,9","7,06","-10,83","24,31",9500.0,"98,6","303,5","14,62","9,16","76,22",2,"12,9","10,57","0,007","0,57","0,423"
208,Turks & Caicos Is,LATIN AMER. & CARIB,21152,430,"49,2","90,47","11,68","15,67",9600.0,"98,0","269,5","2,33",0,"97,67",2,"21,84","4,21",NaN,NaN,NaN
214,United States,NORTHERN AMERICA,298444215,9631420,"31,0","0,21","3,41","6,5",37800.0,"97,0","898,0","19,13","0,22","80,65",3,"14,14","8,26","0,01","0,204","0,787"
215,Uruguay,LATIN AMER. & CARIB,3431932,176220,"19,5","0,37","-0,32","11,95",12800.0,"98,0","291,4","7,43","0,23","92,34",3,"13,91","9,05","0,093","0,311","0,596"
218,Venezuela,LATIN AMER. & CARIB,25730435,912050,"28,2","0,31","-0,04","22,2",4800.0,"93,4","140,1","2,95","0,92","96,13",2,"18,71","4,92","0,04","0,419","0,541"
220,Virgin Islands,LATIN AMER. & CARIB,108605,1910,"56,9","9,84","-8,94","8,03",17200.0,NaN,"652,8","11,76","2,94","85,3",2,"13,96","6,43","0,01","0,19","0,8"

In [43]:
# df['Region'].unique()
df[df['Region'].isin(['EASTERN EUROPE', 'WESTERN EUROPE'])].head(10)

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN
12,Austria,WESTERN EUROPE,8192880,83870,"97,7","0,00",2,"4,66",30000.0,"98,0","452,2","16,91","0,86","82,23",3,"8,74","9,76","0,018","0,304","0,678"
19,Belgium,WESTERN EUROPE,10379067,30528,"340,0","0,22","1,23","4,68",29100.0,"98,0","462,6","23,28","0,4","76,32",3,"10,38","10,27","0,01","0,24","0,749"
25,Bosnia & Herzegovina,EASTERN EUROPE,4498976,51129,"88,0","0,04","0,31","21,05",6100.0,NaN,"215,4","13,6","2,96","83,44",4,"8,77","8,27","0,142","0,308","0,55"
30,Bulgaria,EASTERN EUROPE,7385367,110910,"66,6","0,32","-4,58","20,55",7600.0,"98,6","336,3","40,02","1,92","58,06",3,"9,65","14,27","0,093","0,304","0,603"
50,Croatia,EASTERN EUROPE,4494749,56542,"79,5","10,32","1,58","6,84",10600.0,"98,5","420,4","26,09","2,27","71,65",NaN,"9,61","11,48","0,07","0,308","0,622"
53,Czech Republic,EASTERN EUROPE,10235455,78866,"129,8","0,00","0,97","3,93",15700.0,"99,9","314,3","39,8","3,05","57,15",3,"9,02","10,59","0,034","0,393","0,573"
54,Denmark,WESTERN EUROPE,5450661,43094,"126,5","16,97","2,48","4,56",31100.0,"100,0","614,6","54,02","0,19","45,79",3,"11,13","10,36","0,018","0,246","0,735"
66,Faroe Islands,WESTERN EUROPE,47246,1399,"33,8","79,84","1,41","6,24",22000.0,NaN,"503,8","2,14",0,"97,86",NaN,"14,05","8,7","0,27","0,11","0,62"

In [47]:
df[~df['Region'].isin(['EASTERN EUROPE', 'WESTERN EUROPE'])].head(10)

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
5,Angola,SUB-SAHARAN AFRICA,12127071,1246700,"9,7","0,13",0,"191,19",1900.0,"42,0","7,8","2,41","0,24","97,35",NaN,"45,11","24,2","0,096","0,658","0,246"
6,Anguilla,LATIN AMER. & CARIB,13477,102,"132,1","59,80","10,76","21,03",8600.0,"95,0","460,0",0,0,100,2,"14,17","5,34","0,04","0,18","0,78"
7,Antigua & Barbuda,LATIN AMER. & CARIB,69108,443,"156,0","34,54","-6,15","19,46",11000.0,"89,0","549,9","18,18","4,55","77,27",2,"16,93","5,37","0,038","0,22","0,743"
8,Argentina,LATIN AMER. & CARIB,39921833,2766890,"14,4","0,18","0,61","15,18",11200.0,"97,1","220,4","12,31","0,48","87,21",3,"16,73","7,55","0,095","0,358","0,547"
9,Armenia,C.W. OF IND. STATES,2976372,29800,"99,9","0,00","-6,47","23,28",3500.0,"98,6","195,7","17,55","2,3","80,15",4,"12,07","8,23","0,239","0,343","0,418"
10,Aruba,LATIN AMER. & CARIB,71891,193,"372,5","35,49",0,"5,89",28000.0,"97,0","516,1","10,53",0,"89,47",2,"11,03","6,68","0,004","0,333","0,663"
11,Australia,OCEANIA,20264082,7686850,"2,6","0,34","3,98","4,69",29000.0,"100,0","565,5","6,55","0,04","93,41",1,"12,14","7,51","0,038","0,262","0,7"

In [61]:
df.Country = df.Country.str.strip()
df.set_index('Country', inplace=True)

AttributeError: 'DataFrame' object has no attribute 'Country'

In [63]:
df.loc['India':'Japan', ['Region']]

                           Region
Country
India        ASIA (EX. NEAR EAST)
Indonesia    ASIA (EX. NEAR EAST)
Iran         ASIA (EX. NEAR EAST)
Iraq                    NEAR EAST
Ireland            WESTERN EUROPE
Isle of Man        WESTERN EUROPE
Israel                  NEAR EAST
Italy              WESTERN EUROPE
Jamaica       LATIN AMER. & CARIB
Japan        ASIA (EX. NEAR EAST)

In [66]:
df.sort_index(ascending=False, inplace=True)

In [79]:
df.sort_values(['Region', 'Population'], ascending=[True, False])

,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
Country,,,,,,,,,,,,,,,,,,,
China,ASIA (EX. NEAR EAST),1313973713,9596960,"136,9","0,15","-0,4","24,18",5000.0,"90,9","266,7","15,4","1,25","83,35","1,5","13,25","6,97","0,125","0,473","0,403"
India,ASIA (EX. NEAR EAST),1095351995,3287590,"333,2","0,21","-0,07","56,29",2900.0,"59,5","45,4","54,4","2,74","42,86","2,5","22,01","8,18","0,186","0,276","0,538"
Indonesia,ASIA (EX. NEAR EAST),245452739,1919440,"127,9","2,85",0,"35,6",3200.0,"87,9","52,0","11,32","7,23","81,45",2,"20,34","6,25","0,134","0,458","0,408"
Pakistan,ASIA (EX. NEAR EAST),165803560,803940,"206,2","0,13","-2,77","72,44",2100.0,"45,7","31,8","27,87","0,87","71,26",1,"29,74","8,23","0,216","0,251","0,533"
Bangladesh,ASIA (EX. NEAR EAST),147365352,144000,"1023,4","0,40","-0,71","62,6",1900.0,"43,1","7,3","62,11","3,07","34,82",2,"29,8","8,27","0,199","0,198","0,603"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Faroe Islands,WESTERN EUROPE,47246,1399,"33,8","79,84","1,41","6,24",22000.0,NaN,"503,8","2,14",0,"97,86",NaN,"14,05","8,7","0,27","0,11","0,62"
Liechtenstein,WESTERN EUROPE,33987,160,"212,4","0,00","4,85","4,7",25000.0,"100,0","585,5",25,0,75,4,"10,21","7,18","0,06","0,39","0,55"
Monaco,WESTERN EUROPE,32543,2,"16271,5","205,00","7,75","5,43",27000.0,"99,0","1035,6",0,0,100,NaN,"9,19","12,91","0,17",NaN,NaN
San Marino,WESTERN EUROPE,29251,61,"479,5","0,00","10,98","5,73",34600.0,"96,0","704,3","16,67",0,"83,33",NaN,"10,02","8,17",NaN,NaN,NaN
Gibraltar,WESTERN EUROPE,27928,7,"3989,7","171,43",0,"5,13",17500.0,NaN,"877,7",0,0,100,NaN,"10,74","9,31",NaN,NaN,NaN

In [88]:
df.groupby('Region').sum()

                      Population  Area (sq. mi.)  GDP ($ per capita)
Region
ASIA (EX. NEAR EAST)  3687982236        23096712            225500.0
BALTICS                  7184974          175015             33900.0
C.W. OF IND. STATES    280081548        22100843             48000.0
EASTERN EUROPE         119914717         1152222            117700.0
LATIN AMER. & CARIB    561824599        20544084            390700.0
NEAR EAST              195068377         4355586            167300.0
NORTHERN AFRICA        161407133         6018890             27300.0
NORTHERN AMERICA       331672307        21782471            130500.0
OCEANIA                 33131662         8519812            173200.0
SUB-SAHARAN AFRICA     749437000        24341406            118500.0
WESTERN EUROPE         396339998         3710478            757300.0